# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
rvcinemaview

# Test binary
*.test

# Output of go coverage
*.out

# Dependency directories
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data
data/
*.db
*.db-journal
*.db-wal
*.db-shm

# Config with secrets
config.local.yaml
